.result-title-text {
    font-size: 90px;
    line-height: 100px;
    font-weight: bold;
    margin: 6px 16px;
}

.result-title-buttons {
    align-items: center;
    width: 72px;
}

.result-title-copy {
    width: 48px;
    margin-top: 24px;
    cursor: pointer;
}

.result-title-collapser {
    margin: 4px 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color: #2c88d9;
}
