@font-face {
  font-family: "Alte DIN 1451 Mittelschrift gepraegt";
  font-style: normal;
  font-weight: 400;
  src: local("Alte DIN 1451 Mittelschrift gepraegt"),
    url("./fonts/din1451alt G.woff") format("woff");
}

.width-container {
  max-width: 1100px;
  background-color: white;
  margin: auto;
  min-height: 100vh;
}

.app-header {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
