body {
    margin: 0;
    font-family: "Alte DIN 1451 Mittelschrift gepraegt", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #82ed5b;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --green-light: #aedb1e;
    --green-dark: #99bf1f;
    --white: #fff;
    --off-black: #555;
    --grey-light: #f7f9fa;
    --grey: #dfe6ed;
    --grey-dark: #9eadba;
}

.vertical-separation-small {
    margin: 0 0 10px;
}
.vertical-separation-medium {
    margin: 0 0 20px;
}
.vertical-separation-large {
    margin: 0 0 40px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
