body {
    margin: 0;
    font-family: "Alte DIN 1451 Mittelschrift gepraegt", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #82ed5b;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --green-light: #aedb1e;
    --green-dark: #99bf1f;
    --white: #fff;
    --off-black: #555;
    --grey-light: #f7f9fa;
    --grey: #dfe6ed;
    --grey-dark: #9eadba;
    --grey-darker: #788896;
    --grey-darkest: #5c6a77;
}

.vertical-separation-small {
    margin: 0 0 10px;
}
.vertical-separation-medium {
    margin: 0 0 20px;
}
.vertical-separation-large {
    margin: 0 0 40px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.space-between {
    justify-content: space-between;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

 .mplus {
     font-family: "M PLUS 1p", sans-serif;
 }


@media (min-width: 1200px) {
    .show-mobile {
        display: none;
    }
}
@media (max-width: 1199px) {
    .hide-mobile {
        display: none;
    }
}
