.expand-button-container {
    margin: 0 12px;
}

.expand-button {
    margin: 0 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--grey);
}

.expand-button img {
    padding: 2px;
}
