.input-page {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-input {
    width: 600px;
    resize: vertical;
}

.input-page button {
    margin: 10px auto;
    width: 100px;
}

.words-display {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
}

.word-display {
    color: white;
    background-color: var(--green-light);
    padding: 1px 7px;
    border-radius: 10px;
    margin: 8px 3px;
}
