.input-page {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-message {
    font-size: 24px;
    line-height: 24px;
}

.error-message img {
    color: red;
    height: 18px;
    margin: 0 8px;
}
